

body{

  background-color: gray;
}

.container {
  background-color: rgba(0, 0, 0, 0.2);
  max-width: 1000px;
  width: 100%;
}

#Giphy{
  margin-left: 50px;
  border: Blue 3px solid;
  padding: 13px 15px 15px 15px;
  background: rgba(225, 225, 225, 0.5);

}
